<h2 mat-dialog-title>Login</h2>
<form [formGroup]="form" (ngSubmit)="submitLogin()" mat-dialog-content>
  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full mb-4">
    <mat-label>Password</mat-label>
    <input type="password" matInput formControlName="password" />
  </mat-form-field>

  @if(form.errors?.['serverError']) {
    <mat-error class="mb-3">
      {{ form.errors?.['serverError'] }}
    </mat-error>
  }

  <div class="flex justify-end gap-2">
    <button
      mat-raised-button
      color="primary"
      class="w-full sm:w-auto"
      type="button"
      (click)="closeLoginPopup()"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="w-full sm:w-auto"
      [disabled]="form.invalid || authStore.isLoading()"
    >
      @if (authStore.isLoading()) {
        Logging in...
      } @else {
        Login
      }
    </button>
  </div>
</form>
